<ion-header>
  <ion-navbar color="dark">
    <ion-buttons stars>
      
      <button ion-button icon-only><ion-icon name="construct" style="color:whitesmoke; align-self: right;"></ion-icon></button>
    </ion-buttons>
    <ion-title>
      <p style="color: greenyellow">¿Quiénes Somos?</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: black">

  <!--<ion-segment [(ngModel)]="seleccion" style="background-color: #f4f4f4">
    <ion-segment-button value="grupo1" style="color: black">Botones 1</ion-segment-button>
    <ion-segment-button value="grupo2" style="color: black">Botones 2</ion-segment-button>
    <ion-segment-button value="grupo3" style="color: black">Botones 3</ion-segment-button>
  </ion-segment>

  <div *ngIf="seleccion == 'grupo1'" style="background-color: #f4f4f4">
    <button ion-button small>small</button>
    <button ion-button large>large</button>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <button ion-button block>Botón 1</button>
        </ion-col>
        <ion-col col-2>
          <button ion-button block>Botón 2</button>
        </ion-col>
        <ion-col>
          <button ion-button block>Botón 3</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <div *ngIf="seleccion == 'grupo2'" style="background-color: #f4f4f4">
    <button ion-button outline>outline</button>
    <button ion-button round outline>round line</button>
    <button ion-button clear>clear</button>
  </div>
  <div *ngIf="seleccion == 'grupo3'" style="background-color: #f4f4f4">
    <ion-icon name="analytics"></ion-icon>
    <button ion-button color="dark" icon-left><ion-icon name="analytics"></ion-icon>Analytics</button>
    <button ion-button color="dark" icon-right>add-circle<ion-icon name="add-circle"></ion-icon></button>
    <button ion-button color="dark" icon-only><ion-icon name="add-circle"></ion-icon></button>
    <button ion-button color="dark" icon-only clear><ion-icon name="add-circle"></ion-icon></button>
    <button ion-button color="dark" icon-only> outline<ion-icon name="add-circle"></ion-icon></button>
  </div>
-->
  <ion-card>
    
    <ion-card-content style="background-image: url('assets/imgs/cta2.jpg');background-repeat: no-repeat;width: 300px;height: 300px;">
    
    </ion-card-content>
    <ion-card-content>
      <h1 style="font-family: 'Lucida Sans'">CTA (Centro Tecnológico de Avanzada)</h1>
      <p style="font-family:   Helvetica">Somos un centro de Capacitación Profesional dirigido al público en general. 
      Impulsando al desarrollo del país, dando la posibilidad a que cualquier persona pueda 
      desarrollarse en el ámbito laboral de acuerdo a sus intereses y capacidades.</p>
    </ion-card-content>
  </ion-card>
  

</ion-content>
